<style>
  p{
     color:red;
     font-weight:bold;
     text-decoration:underline;
     font-style:italic;
    }
  
  
</style>

<p> i love school</p>


 <p style="color: skyblue; font-weight: normal; font-style: normal; text-decoration: none;">
    I love music 
  </p>
